@model List<NoticeTag>

@{
}

<div class="text-center">
    <H1>Notice Tag</H1>
</div>

<div>
    <a asp-controller="Home" asp-action="CreateNoticeTag" class="btn btn-primary">Create New Notice Tag</a>
</div>

<div class="table-responsive" style="padding: 30px;">

    <table class="table table-striped table-hover table-sm" id="noticeTag-table">
        <thead>
        <tr class="thead-light">
            <th>Identifier</th>
            <th>Notice</th>
            <th>Tag</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (NoticeTag item in Model)
            {
                <tr class="">
                    <td>@item.Id</td>
                    <td>@item.Tag</td>
                    <td>@item.Notice</td>
                    <td>
                        <a asp-route-id="@item.Id" asp-controller="Home" asp-action="" class="btn btn-primary">Edit</a>
                        <a asp-route-id="@item.Id" asp-controller="Home" asp-action="" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
